<div class="intro">
  <img src="../../assets/flag-country.gif"><img src="../../assets/flag-country.gif"><img src="../../assets/flag-country.gif">
  Welcome to my website!!!
  <img src="../../assets/flag-country.gif"><img src="../../assets/flag-country.gif"><img src="../../assets/flag-country.gif">
  <marquee><img src="../../assets/what-cha-doing-microsoft.gif" style="height: 70px"></marquee>
  <h2>Contents:</h2>	
  <ul>
    <li><a href="https://myspace.com/enijhuis" target="_blank">MySpace</a><img src="../../assets/habbohotel-left.gif" style="height: 50px"></li>
    <li><a href="https://altavista.com" target="_blank">Search the Web!</a></li>
    <li><a href="mailto:someone@somewhere.com"><img src="../../assets/cute-mail.gif" style="height: 80px" alt="drop me an e-mail!"></a></li>
  </ul> 
  <hr/> 
</div>


All jokes aside: click <a [routerLink]="['/death-day']" style="font-size: medium;">here</a> to start generating wiki text for the list articles.




