  
  .intro {
    background-color: rgb(50, 255, 50);    
    color: red;
    text-align: center;
    font-size: 2.5em;
    font-family: 'comiclocal', Arial, Helvetica, sans-serif;
  }
  img{    
    height: 40px;
    margin: 5px;
  }
  a{
    font-size: 0.6em;
    font-weight: bold;
    color: blue;
  }
  