<div class="intro">
  <img src="../../assets/fireworks.gif"><img src="../../assets/flag-nl.gif">
  Welcome to my website !!!
  <img src="../../assets/flag-ukr.gif"><img src="../../assets/banana-dance.gif">
  <marquee>
    <img src="../../assets/what-cha-doing-microsoft.gif" style="height: 65px">
    <a href="https://en.wikipedia.org/wiki/Search_engine">---<img src="../../assets/wikipedia-wiki.gif" style="height: 140px" alt="drop me an e-mail!"></a>
  </marquee>  
  <h2>Contents:</h2>	
  <ul>
    <li><a href="https://myspace.com/enijhuis" target="_blank">MySpace homepage</a><img src="../../assets/habbohotel-left.gif" style="height: 40px"></li>    
    <li><a href="mailto:someone@somewhere.com"><img src="../../assets/cute-mail.gif" style="height: 60px" alt="drop me an e-mail!"></a></li>
  </ul> 
  <hr/> 
</div>


All jokes aside, click <a [routerLink]="['/death-day']" style="font-size: medium; color:darkgrey ">here</a> to start generating wiki text for the list articles.




