<button type="button" class="btn btn-primary" (click)="checkWebsites()" [disabled]="checkedWebsitesCount !== MAXWEBSITES">Check reference sites</button>
<div *ngIf="!allSitesOk(); else elseBlock">
    <table class="table table-sm"> <!-- bootstrap class table-striped niet gebruiken: overwrites [ngClass] -->
        <thead class="thead-dark">
        <tr>      
          <td colspan="2"><h6>{{checkStatus}}</h6></td>   
        </tr> 
        <tr>    
          <th style="width: 75%;">website</th>
          <th style="width: 25%;">result</th>
        </tr>  
      </thead>
      <tbody>  
        <tr><td>Encyclopædia Britannica Online:</td><td><img src="{{getImageSource(checkResults[0])}}" style="max-height: 20px"></td></tr>        
        <tr><td>The Independent:               </td><td><img src="{{getImageSource(checkResults[2])}}" style="max-height: 20px"></td></tr>        
        <tr><td>Internet Broadway Database (IBDB)  </td><td><img src="{{getImageSource(checkResults[4])}}" style="max-height: 20px"></td></tr>
      </tbody>
    </table>
</div>
<ng-template #elseBlock><div></div></ng-template>

