<h4>Sandbox</h4>


<button type="button" class="btn btn-primary" (click)="checkWebsites()" [disabled]="checkingWebsites">Check sites</button>
<hr>
<div *ngIf="!allSitesOk(); else elseBlock2">
    <table class="table table-sm"> <!-- bootstrap class table-striped niet gebruiken: overwrites [ngClass] -->
        <thead class="thead-dark">
        <tr>      
          <td colspan="2">Checking reference websites. <strong>{{checkedWebsites}}</strong> of {{MAXWEBSITES}} sites checked</td>   
        </tr> 
        <tr>    
          <th style="width: 75%;">website</th>
          <th style="width: 25%;">result</th>
        </tr>  
      </thead>
      <tbody>  
        <tr>      
          <td>Encyclopædia Britannica:</td><td><img src="{{getImageSource(checkResults[0])}}" style="max-height: 20px"></td>
        </tr>
      </tbody>
    </table>
</div>
<ng-template #elseBlock2><div>;)</div></ng-template>

