/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body{
  padding: 8px;
}
a.menu_links { 
  cursor: pointer; 
}
.space3px{
  width: 3px; 
  display: inline-block;
}
.space6px{
  width: 6px; 
  display: inline-block;
}
.space9px{
  width: 9px; 
  display: inline-block;
}
@font-face {
  font-family: lato;
  src: url(assets/font/COMIC.TTF) format("opentype");
}
